<div class="widget">
    <h3 class="widget-title">
        <a data-toggle="collapse" href="#collapseMembers" aria-expanded="true">
            <i class="icon icon-users text-active"></i><i class="icon icon-user text"></i>
            {{ T "widget_members" }}
        </a>
    </h3>
    <div id="collapseMembers" class="widget-body collapse in">
        <ul class="member-list">
            {{ range $name, $taxonomy := $.Site.Taxonomies.members }}
            {{ with $.Site.GetPage (printf "/members/%s" $name) }}
            <li class="member-list-item"><a href="{{ .Permalink }}" class="member-list-link">{{ .Title }}</a><span
                    class="member-list-count">{{ $taxonomy.Count }}</span></li>
            {{ end }}
            {{- end }}
        </ul>

    </div>
</div>
